<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.r_upgrade">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->
    <application android:usesCleartextTraffic="true">
        <service android:name="com.example.r_upgrade.common.UpgradeService">

        </service>
        <provider
            android:name=".RUpgradeFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
